:root {
  --font: 14px;
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}
body {
    margin: 0;
    background-color: var(--Cream);
}
.contenedor {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    display: grid;
    grid-template-columns: auto auto;
    width: 600px;
    height: 500px;
    background-color: var(--White);
    border-radius: 12px;
}
.perfume {
    width: 300px;
    height: 100%;
    border-radius: 10px 0 0 10px ;
}
.contenido {
    padding: 28px 40px 24px 26px;
    font-family: 'Montserrat', sans-serif;
}
.contenedor span {
    font-size: 14px;
}
.contenido span,
.info,
.precio p {
    color: var(--Dark-grayish-blue);
}
.titulo{
    text-transform: capitalize;
    font-weight:bold;
    /* padding: 24px; */
}
.titulo,
.precio {
    font-family: 'Fraunces', serif;
}
.info {
    font-size: 14px;
    line-height: 24px;
}
.precio {
    display: flex;
    align-items: center;
    margin-top: -12px;
}
.precio h2 {
    color: var(--Dark-cyan);
    font-size: 2em;
    margin-right: 24px;
}
.precio p {
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    font-size: 14px;
}
.btn {
    display: flex;
    align-items: center;
    width: 240px;
    background-color: var(--Dark-cyan);
    border: none;
    border-radius: 8px;
    justify-content: center;
    color: var(--White);
    margin-top: 12px;
    height: 50px;
    cursor: pointer;
}
.btn p {
    margin-left: 12px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.btn:hover {
    background-color:hsl(158, 36%, 18%);
}
@media (max-width: 375px) {
    .card {
        display: flex;
        width: 340px;
        height: 90vh;
        flex-wrap: wrap;
    }
    .perfume{
        width: 100%;
        height: 40%;
        object-fit:cover;
        border-radius: 10px 10px 0 0;
    }
    .contenido{
        padding: 20px;
    }
    .btn {
        width: 100%;
        margin: 0;
    }
    .precio {
        margin-top: -28px;
        margin-bottom: -8px;
    }
    .titulo h1 {
        margin: 2px 0;
    }
}